<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let bill of list">
                    <td>{{ bill.id }}</td>
                    <td>{{ bill.valor }}</td>
                    <td>{{ bill.dia }}</td>
                    <td>{{ bill.tipo }}</td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-body"><a class="btn btn-outline-secondary" href="">Back</a></div>
